{% extends 'base/base.html' %}
{% block title %} Store {% endblock %}
{% load static %}
{% block content %}
<br />
<br />
<br />



<section class="section-content padding-y bg">
	<div class="container">

		<!-- ============================ COMPONENTS 1 MEAT  ================================= -->
		<dev id="meat" name="meat">
			<div class="row">
				<div class="col-md-3">
					<figure class="card card-product-grid">
						<div class="img-wrap"> <img src="{% static 'img/chicken.jpg' %}"> </div>
						<figcaption class="info-wrap border-top">
							<a href="#" class="title">Bell & Ross Nightlum</a>
							<!-- price-wrap.// -->
						</figcaption>
					</figure> <!-- card // -->
				</div> <!-- col.// -->
				<div class="col-md-3">
					<figure class="card card-product-grid">
						<div class="img-wrap">
							<img src="{% static 'img/redmeat.jpg' %}">
							<span class="topbar">
								<a href="#" class="float-right"><i class="fa fa-heart"></i></a>
							</span>
							<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
						</div>
						<figcaption class="info-wrap border-top">
							<a href="#" class="title">Leather Sleeve - Macbook 13’’</a>
							<!-- price-wrap.// -->
						</figcaption>
					</figure> <!-- card //  -->
				</div> <!-- col.// -->
				{% for product in products %}
				<div class="col-md-3">
					<figure class="card card-product-grid">
						<div class="img-wrap">
							<span class="topbar">
								<span class="badge badge-success"> NEW </span>
							</span>
							<img src="{% static 'img/tbone.jpg' %}">
							<a class="btn-overlay" href="{{product.get_url}}"><i class="fa fa-search-plus"></i> Quick view</a>
						</div>
						<figcaption class="info-wrap border-top">
							<a href="#" class="title">{{product.name}}</a>
							<div class="price-wrap mt-2">


							</div> <!-- price-wrap.// -->
						</figcaption>
					</figure> <!-- card // -->
				</div>
				{% endfor %}
				<!-- col.// -->
				{% for product in products %}
				<div class="col-md-3">
					<figure class="card card-product-grid">
						<div class="img-wrap">
							<img src="{% static 'img/worse.jpg' %}">
							<a class="btn-overlay" href="{{product.get_url}}"><i class="fa fa-search-plus"></i> Quick view</a>
						</div>
						<figcaption class="info-wrap border-top text-center">
							<small class="text-uppercase font-weight-bolder text-warning">ELECTRONICS</small>
							<p><a href="#" class="title">{{product.name}}</a></p>
						</figcaption>
					</figure>
					<!-- card // -->
				</div> <!-- col.// -->
			</div>
			{% endfor %}
			<br>
			<hr>

			<!--1st Product-->
			{% for product in products %}
			<div class="row mb-4">
				<div class="col-md-5 col-lg-3 col-xl-3">

					<div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
						<img class="img-fluid w-100" src="{% static 'img/drumstick.jpg' %}"
							 alt="Sample">
						<a href="#!">
							<div class="mask">
								<img class="img-fluid w-100" src="{% static 'img/drumstick1.jpg' %}">
								<div class="mask rgba-black-slight"></div>
							</div>
						</a>
					</div>

				</div>

				<div class="col-md-7 col-lg-9 col-xl-9">
					<div class="row">
						<div class="col-lg-7 col-xl-7">

							<!--	<h5>Drum Stick </h5>NAME-->
							<p><a href="#" class="title">{{product.name}}</a></p>
							<p class="mb-2 text-muted text-uppercase small">Shirts</p>
							<ul class="rating">
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
							</ul>
							<hr>
							<p class="mb-lg-0">
								Butterflied chicken drumsticks are an obvious solution to make crispier,
								more flavorful chicken drumsticks with much less cooking time. Take a few minutes to split
								open the meat, season, and grill. You’re never going to stress about those high prices of
								chicken drum again.
							</p>

						</div>
						<div class="col-lg-5 col-xl-5">

							<h6 class="mb-3"><span>$12.99 per kg</span></h6>
							<div class="my-4">
								<!--ADDING TO CART-->
								<a class="btn-overlay" href="{{product.get_url}}"><i class="fa fa-search-plus"></i> Quick view</a>

							</div>
							<button type="button" class="btn btn-danger btn-md px-3 mb-lg-2 material-tooltip-main"
									data-toggle="tooltip" data-placement="top" title="Add to wishlist">
								<i class="far fa-heart"></i>
							</button>

						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			<!--end of 1st Product-->
			<!--2nd Product-->
			<div class="row mb-4">
				<div class="col-md-5 col-lg-3 col-xl-3">

					<div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
						<img class="img-fluid w-100" src="{% static 'img/fish.jpg' %}"
							 alt="Sample">
						<h4 class="mb-0"><span class="badge badge-dark badge-pill badge-news">Sold out</span></h4>
						<a href="#!">
							<div class="mask">
								<img class="img-fluid w-100"
									 src="{% static 'img/fish1.jpg' %}">
								<div class="mask rgba-black-slight"></div>
							</div>
						</a>
					</div>

				</div>
				<div class="col-md-7 col-lg-9 col-xl-9">
					<div class="row">
						<div class="col-lg-7 col-xl-7">

							<h5>Fantasy Hake</h5>
							<p class="mb-2 text-muted text-uppercase small">Shirts</p>
							<ul class="rating">
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="far fa-star fa-sm text-primary"></i>
								</li>
							</ul>
							<hr>
							<p class="mb-lg-0">
								Hake is a white fish that’s likened to
								cod or halibut. It’s delicious, versatile, and makes the
								perfect base for any fish recipe.
							</p>

						</div>
						<div class="col-lg-5 col-xl-5">

							<h6 class="mb-3">
								<span class="text-danger mr-1">$12.99</span>
								<span class="text-grey"><s>$36.99</s></span>
							</h6>
							<div class="my-4">
								<button type="button" class="btn btn-primary btn-md mr-1 mb-2">
									<i class="fas fa-shopping-cart pr-2"></i>Add to cart
								</button>

							</div>
							<button type="button" class="btn btn-danger btn-md px-3 mb-lg-2 material-tooltip-main"
									data-toggle="tooltip" data-placement="top" title="Add to wishlist">
								<i class="far fa-heart"></i>
							</button>

						</div>
					</div>
				</div>
			</div>
			<!-- end of 2nd prodect-->
			<!--3rd Product-->
			<div class="row mb-4">
				<div class="col-md-5 col-lg-3 col-xl-3">

					<div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
						<img class="img-fluid w-100"
							 src="{% static 'img/worse.jpg' %}">
						alt="Sample">
						<h4 class="mb-0"><span class="badge badge-primary badge-pill badge-news">Sale</span></h4>
						<a href="#!">
							<div class="mask">
								<img class="img-fluid w-100"
									 src="{% static 'img/worse1.jpg' %}">
								<div class="mask rgba-black-slight"></div>
							</div>
						</a>
					</div>

				</div>
				<div class="col-md-7 col-lg-9 col-xl-9">
					<div class="row">
						<div class="col-lg-7 col-xl-7">

							<h5>Boerewors</h5>
							<p class="mb-2 text-muted text-uppercase small">Shirts</p>
							<ul class="rating">
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
							</ul>
							<hr>
							<p class="mb-lg-0">
								Boerewors seasoning characteristically includes coriander, black pepper,
								nutmeg, and allspice, along with a dark vinegar (malt vinegar). The vinegar
								and salt act to preserve the sausages as well as adding flavor.
								This combination of spices and vinegar creates a unique flavor that is very
								characteristic of South African cuisine.
							</p>

						</div>
						<div class="col-lg-5 col-xl-5">

							<h6 class="mb-3">
								<span class="text-danger mr-1">$12.99</span>
								<span class="text-grey"><s>$36.99</s></span>
							</h6>
							<div class="my-4">
								<button type="button" class="btn btn-primary btn-md mr-1 mb-2">
									<i class="fas fa-shopping-cart pr-2"></i>Add to cart
								</button>

							</div>
							<button type="button" class="btn btn-danger btn-md px-3 mb-lg-2 material-tooltip-main"
									data-toggle="tooltip" data-placement="top" title="Add to wishlist">
								<i class="far fa-heart"></i>
							</button>

						</div>
					</div>
				</div>
			</div>
			<!-- end of 3rd Product-->
			<!--4th Product-->
			<div class="row mb-4">
				<div class="col-md-5 col-lg-3 col-xl-3">

					<div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
						<img class="img-fluid w-100" src="{% static 'img/tbone1.jpg' %}"
							 alt="Sample">
						<a href="#!">
							<div class="mask">
								<img class="img-fluid w-100" src="{% static 'img/tbone.jpg' %}">
								<div class="mask rgba-black-slight"></div>
							</div>
						</a>
					</div>

				</div>
				<div class="col-md-7 col-lg-9 col-xl-9">
					<div class="row">
						<div class="col-lg-7 col-xl-7">

							<h5>T Bone Stack </h5>
							<p class="mb-2 text-muted text-uppercase small">Shirts</p>
							<ul class="rating">
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
							</ul>
							<hr>
							<p class="mb-lg-0">
								Grill a T-bone steak with this easy homemade seasoning to make it taste
								awesome. This spice blend is the best, as it doesn't overpower the steak
								flavor. I can't eat a steak out anymore because I always compare it to this seasoning.
							</p>

						</div>
						<div class="col-lg-5 col-xl-5">

							<h6 class="mb-3"><span>$12.99 per KG</span></h6>
							<div class="my-4">
								<button type="button" class="btn btn-primary btn-md mr-1 mb-2">
									<i class="fas fa-shopping-cart pr-2"></i>Add to cart
								</button>
							</div>
							<button type="button" class="btn btn-danger btn-md px-3 mb-lg-2 material-tooltip-main"
									data-toggle="tooltip" data-placement="top" title="Add to wishlist">
								<i class="far fa-heart"></i>
							</button>

						</div>
					</div>
				</div>
			</div>
			<!--end of 4th Product-->
			<!--5th Product-->
			<div class="row mb-4">
				<div class="col-md-5 col-lg-3 col-xl-3">

					<div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
						<img class="img-fluid w-100" src="{% static 'img/mixportion1.jpg' %}"
							 alt="Sample">
						<a href="#!">
							<div class="mask">
								<img class="img-fluid w-100" src="{% static 'img/mixportion.jpg' %}">
								<div class="mask rgba-black-slight"></div>
							</div>
						</a>
					</div>

				</div>
				<div class="col-md-7 col-lg-9 col-xl-9">
					<div class="row">
						<div class="col-lg-7 col-xl-7">

							<h5>Mix Portion </h5>
							<p class="mb-2 text-muted text-uppercase small">Shirts</p>
							<ul class="rating">
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
							</ul>
							<hr>
							<p class="mb-lg-0">
								Warm yourself up from the inside with this simple, hearty
								chicken stew mix. It has a slightly creamy texture and top notes of garlic, onions and herbs.
							</p>

						</div>
						<div class="col-lg-5 col-xl-5">

							<h6 class="mb-3"><span>$12.99 per KG</span></h6>
							<div class="my-4">
								<button type="button" class="btn btn-primary btn-md mr-1 mb-2">
									<i class="fas fa-shopping-cart pr-2"></i>Add to cart
								</button>
							</div>
							<button type="button" class="btn btn-danger btn-md px-3 mb-lg-2 material-tooltip-main"
									data-toggle="tooltip" data-placement="top" title="Add to wishlist">
								<i class="far fa-heart"></i>
							</button>

						</div>
					</div>
				</div>
			</div>
			<!--end of 5th Product-->
			<!--6th Product-->
			<div class="row mb-4">
				<div class="col-md-5 col-lg-3 col-xl-3">

					<div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
						<img class="img-fluid w-100" src="{% static 'img/redmeat.jpg' %}"
							 alt="Sample">
						<a href="#!">
							<div class="mask">
								<img class="img-fluid w-100" src="{% static 'img/redmeat1.jpg' %}">
								<div class="mask rgba-black-slight"></div>
							</div>
						</a>
					</div>

				</div>
				<div class="col-md-7 col-lg-9 col-xl-9">
					<div class="row">
						<div class="col-lg-7 col-xl-7">

							<h5>Red Meat </h5>
							<p class="mb-2 text-muted text-uppercase small">Shirts</p>
							<ul class="rating">
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
								<li>
									<i class="fas fa-star fa-sm text-primary"></i>
								</li>
							</ul>
							<hr>
							<p class="mb-lg-0">
								This hearty entree is easy to prepare for Sunday dinner.
								While the beef is slow cooking, the cook has lots of time to
								attend to the other details. With mashed potatoes on the side,
								it’s comfort food for the cool months ahead
							</p>

						</div>
						<div class="col-lg-5 col-xl-5">

							<h6 class="mb-3"><span>$12.99 per KG</span></h6>
							<div class="my-4">
								<button type="button" class="btn btn-primary btn-md mr-1 mb-2">
									<i class="fas fa-shopping-cart pr-2"></i>Add to cart
								</button>
							</div>
							<button type="button" class="btn btn-danger btn-md px-3 mb-lg-2 material-tooltip-main"
									data-toggle="tooltip" data-placement="top" title="Add to wishlist">
								<i class="far fa-heart"></i>
							</button>

						</div>
					</div>
				</div>
			</div>
		</dev>

		<!--end of 6th Product-->
		<br>
		<hr>
		<!-- ============================ END OF COMPONENTS 1 MEAT ================================= -->
		<!-- ============================ ======================== ================================= -->
		<!-- ============================ COMPONENTS 2 CLOTHING  ================================= -->
		<div id="cloth" name="cloth">
			<div class="row">
				<div class="col-md-3">
					<figure class="card card-product-grid">
						<div class="img-wrap"> <img src="{% static 'img/5-Local-brands-1.png' %}"> </div>
						<figcaption class="info-wrap border-top">
							<a href="#" class="title">Bell & Ross Nightlum</a>
							<!-- price-wrap.// -->
						</figcaption>
					</figure> <!-- card // -->
				</div> <!-- col.// -->
				<div class="col-md-3">
					<figure class="card card-product-grid">
						<div class="img-wrap">
							<img src="{% static 'img/clothing.png' %}">
							<span class="topbar">
								<a href="#" class="float-right"><i class="fa fa-heart"></i></a>
							</span>
							<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Quick view</a>
						</div>
						<figcaption class="info-wrap border-top">
							<a href="#" class="title">Leather Sleeve - Macbook 13’’</a>
							<!-- price-wrap.// -->
						</figcaption>
					</figure> <!-- card //  -->
				</div> <!-- col.// -->
				{% for product in products %}
				<div class="col-md-3">
					<figure class="card card-product-grid">
						<div class="img-wrap">
							<span class="topbar">
								<span class="badge badge-success"> NEW </span>
							</span>
							<img src="{% static 'img/cloths.jpg' %}">
							<a class="btn-overlay" href="{{product.get_url}}"><i class="fa fa-search-plus"></i> Quick view</a>
						</div>
						<figcaption class="info-wrap border-top">
							<a href="#" class="title">{{product.name}}</a>
							<div class="price-wrap mt-2">


							</div> <!-- price-wrap.// -->
						</figcaption>
					</figure> <!-- card // -->
				</div>
				{% endfor %}
				<!-- col.// -->
				<div class="col-md-3">
					<figure class="card card-product-grid">
						<div class="img-wrap">
							<img src="{% static 'img/banner4.jpg' %}">
						</div>
						<figcaption class="info-wrap border-top text-center">
							<small class="text-uppercase font-weight-bolder text-warning">ELECTRONICS</small>
							<p><a href="#" class="title">IKEA Poäng Swivel Chair</a></p>
						</figcaption>
					</figure>
					<!-- card // ->
				</div> <!-- col.// -->
				</div>
				<!-- ============================ COMPONENTS 1  END .// ================================= -->



			</div>
		</div>
	</div>
</section>		
    

{% endblock content %}